@font-face {
	font-family: "DejaVuSansMono";
	src: url("../Fonts/DejaVuSansMono.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../Fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "DejaVuSansLight";
	src: url("../Fonts/OpenSans-Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.font-normal {
	font-family: "OpenSans", "Tahoma", "Verdana", "Arial", "sans-serif" !important;
}

.font-light {
	font-family: "DejaVuSansLight", "Tahoma", "Verdana", "Arial", "sans-serif" !important;
}

.font-mono {
	font-family: "DejaVuSansMono", "Anonymous", "Lucida Console", "Consolas" !important;
}

.avalonia-splash {
	position: absolute;
	color: white;
	height: 100%;
	width: 100%;
	background: #212121;
	font-family: 'DejaVuSansLight', sans-serif;
	justify-content: center;
	align-items: center;
	display: flex;
	pointer-events: none;
}

h1 {
	display: block;
	width: 100%;
}

.avalonia-splash.splash-close {
	transition: opacity 50ms, display 50ms;
	display: none;
	opacity: 0;
}